<!DOCTYPE html>
<html lang="en" ng-app="chaperone.app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Chaperone</title>

	<!-- Bootstrap core CSS -->
	<link href="[{ less }]" rel="stylesheet">
	<!-- Custom styles for this template -->
</head>

<body>

<div id="messageboxes" ng-controller="MessageBoxCtrl" ng-init="init();" class="container-fluid">
	<div class="alert" ng-class="messageClass(m.level)" ng-repeat="m in messages">
		{{ m.message }}
	</div>
</div>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Chaperone</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
					<a href="javascript: $.noop();" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">User Actions</li>
						<li class="dropdown"><a ng-href="#/admin/users/list">List Users</a></li>
						<li class="dropdown"><a ng-href="#/admin/users/add">Add User</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>


<div id="main-body" class="container-fluid" ng-view></div>

<script type="text/javascript" src="/public/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/angular.min.js"></script>
<script type="text/javascript" src="/public/js/angular-route.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>