<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Chaperone</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
					<a href="javascript: $.noop();" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">User Actions</li>
						<li class="dropdown"><a ng-href="#/admin/users/list">List Users</a></li>
						<li class="dropdown"><a ng-href="#/admin/users/add">Add User</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-href="#/account/login">Login</a></li>
				<li><a href="#/account/register">Register</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>